.hero_section{
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 50px;
}
.img{
    width: 100%;
    height: 100%;
}
h1{
    width: 40%;
}
.hero_left{
    display: flex;
    flex-direction: column;
    padding: 50px;
}